* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sen', 'Anonymous Pro', 'Montserrat', serif;
}

body {
  background: linear-gradient(
    215deg,
    #38384f 30%,
    #4d5454 60%,
    #0a2323
  );
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

div {
  background-color: rgb(148, 159, 164);
  border-radius: 5px;
  margin: 2rem;
  width: 90%;
  padding-bottom: 1rem;
}

div:not(.btn) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-top: 1em;
}

h3 {
  font-size: 3em;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 2rem;
}

span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  text-transform: uppercase;
}

.btn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.btn-click {
  background: orange;
  text-transform: uppercase;
  border: none;
  font-weight: bolder;
  border-radius: 8px;
  padding: 2rem 0;
  font-size: 1.5em;
  margin: 3rem 1rem 0;
}